body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../images/background_1.jpeg") repeat-y center;
  background-size: cover;
}

/* === NAVBAR === */
.navbar {
  display: flex;
  align-items: center;
  background: #8b4513;
  color: white;
  padding: 20px 30px; /* lebih tinggi */
  font-size: 22px;    /* gedein font */
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 24px; /* gedein panah */
  display: flex;
  align-items: center;
}

.navbar a:hover {
  text-decoration: underline;
}

/* === CONTAINER & CONTENT === */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 90px); /* sesuaikan tinggi navbar */
  padding: 40px;
}

.content-box {
  background: #d08c3d;
  padding: 30px 40px;
  border-radius: 20px;
  width: 70%;
  max-width: 900px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.content-box h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

.content-box img {
  width: 60%;
  max-width: 500px;  
  border-radius: 10px;
  margin: 20px 0;
}


.content-box p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
  margin: 12px 0;
}
